@model App.ViewModels.UserAccount.Create.UserAccount
@{
    Layout ="Layout";
    var userAccount = Model;
    var roles = ViewData["roles"] as IEnumerable<App.ViewModels.UserAccount.Create.Role>;
}

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" asp-action="Create" asp-route-ref="@(System.Net.WebUtility.UrlEncode(ViewData["ref"].ToString()))">
                <div class="row">
                    <div class="mb-3 col-md-6 col-lg-4">
                        <label class="form-label" for="user_account_name">Name</label>
                        <input id="user_account_name" name="Name" class="form-control form-control-sm" asp-for="@userAccount.Name" required maxlength="50" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3 col-md-6 col-lg-4">
                        <label class="form-label" for="user_account_email">Email</label>
                        <input id="user_account_email" name="Email" class="form-control form-control-sm" asp-for="@userAccount.Email" type="email" required maxlength="50" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-check col-md-6 col-lg-4">
                        <input id="user_account_active" name="Active" class="form-check-input" type="checkbox" value="true" checked=@(userAccount==null ? false : userAccount.Active) />
                        <label class="form-check-label" for="user_account_active">Active</label>
                        <span asp-validation-for="Active" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <h6>
                        </h6><label class="form-label">Roles</label>
                        @foreach (var role in roles) {
                        <div class="form-check">
                            <input id="user_role_role_id@(role.Id)" name="RoleId" class="form-check-input" type="checkbox" value="@role.Id" />
                            <label class="form-check-label" for="user_role_role_id@(role.Id)">@role.Name</label>
                        </div>
                        }
                    </div>
                    <div class="col-12">
                        <a class="btn btn-sm btn-secondary" href="@ViewData["ref"]">Cancel</a>
                        <button class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    initPage(true)
</script>