@model App.ViewModels.OrderHeader.Delete.OrderHeader
@{
    Layout ="Layout";
    var orderHeader = Model;
    var orderHeaderOrderDetails = ViewData["orderHeaderOrderDetails"] as IEnumerable<App.ViewModels.OrderHeader.Delete.OrderHeaderOrderDetail>;
}

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" asp-action="Delete" asp-route-ref="@(System.Net.WebUtility.UrlEncode(ViewData["ref"].ToString()))">
                <div class="row">
                    <div class="mb-3 col-md-6 col-lg-4">
                        <label class="form-label" for="order_header_id">Id</label>
                        <input readonly id="order_header_id" name="Id" class="form-control form-control-sm" value="@orderHeader.Id" type="number" required />
                    </div>
                    <div class="mb-3 col-md-6 col-lg-4">
                        <label class="form-label" for="customer_name">Customer</label>
                        <input readonly id="customer_name" name="customer_name" class="form-control form-control-sm" value="@orderHeader.CustomerName" maxlength="50" />
                    </div>
                    <div class="mb-3 col-md-6 col-lg-4">
                        <label class="form-label" for="order_header_order_date">Order Date</label>
                        <input readonly id="order_header_order_date" name="OrderDate" class="form-control form-control-sm" value="@Html.FormatDate(orderHeader.OrderDate)" data-type="date" autocomplete="off" required />
                    </div>
                    <div class="col-12">
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>No</th>
                                    <th>Product</th>
                                    <th>Qty</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var orderHeaderOrderDetail in orderHeaderOrderDetails) {
                                <tr>
                                    <td class="text-center">@orderHeaderOrderDetail.No</td>
                                    <td>@orderHeaderOrderDetail.ProductName</td>
                                    <td class="text-end">@orderHeaderOrderDetail.Qty</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-sm btn-secondary" href="@ViewData["ref"]">Cancel</a>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    initPage(true)
</script>