@model App.ViewModels.Brand.Delete.Brand
@{
    Layout ="Layout";
    var brand = Model;
    var brandProducts = ViewData["brandProducts"] as IEnumerable<App.ViewModels.Brand.Delete.BrandProduct>;
}

<div class="container">
    <div class="row">
        <div class="col">
            <form method="post" asp-action="Delete" asp-route-ref="@(System.Net.WebUtility.UrlEncode(ViewData["ref"].ToString()))">
                <div class="row">
                    <div class="mb-3 col-md-6 col-lg-4">
                        <label class="form-label" for="brand_id">Id</label>
                        <input readonly id="brand_id" name="Id" class="form-control form-control-sm" value="@brand.Id" type="number" required />
                    </div>
                    <div class="mb-3 col-md-6 col-lg-4">
                        <label class="form-label" for="brand_name">Name</label>
                        <input readonly id="brand_name" name="Name" class="form-control form-control-sm" value="@brand.Name" required maxlength="50" />
                    </div>
                    <div class="col-12">
                        <h6>Brand's products</h6>
                        <table class="table table-sm table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var brandProduct in brandProducts) {
                                <tr>
                                    <td>@brandProduct.Name</td>
                                    <td class="text-end">@brandProduct.Price</td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-12">
                        <a class="btn btn-sm btn-secondary" href="@ViewData["ref"]">Cancel</a>
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    initPage(true)
</script>